@media only screen and (max-width: 1108px) {
    .wrapper{
      width: 90%;
    }
    
    #social {
      position: absolute;
      top: 82px;
      right: 4px;
      width: auto;
      }  
  }

  
@media only screen and (max-width: 900px) {
      body {
      font-size: 85%;
      }
      
      #logo h1 {
      height: 35px;
      width: 35px;
      }
      
      #logo h2 {
      font-size: 2.2em;
       
      }
      
      #social {
      position: absolute;
      top: 72px;
      right: 4px;
      width: auto;
      } 
    
      col-3 p {
      column-count:1;
      width: 100%;
     }
      
    }
    

@media only screen and (max-width: 750px) {
[class*="col-"] {
  width: 100%;
  margin-left: 0;
  float: none;
  
}

#navbar nav a {
  font-size: 0.9em;
}



#details {
    height: auto;
  }
  
col-3 p {
  column-count: 1;
  }
  
  
}